.wrapper{
    width: 500px;
    height: 300px;
    text-align: center;
    margin: auto;
}
html,body{
    
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1{
    width: 100px;
    height: 100px;
    background-color: #fc0;
    border-radius: 100px;
    position: relative;
    bottom: 50px;
    right: 50px;
}
.div2{
    width: 400px;
    height: 200px;
    background-color: #ccc;
    margin: 50px;
    position: relative;
    overflow: hidden;
}.div3{
    width: 100px;
    height: 100px;
    background-color: #fc0;
    border-radius: 100px; 
    position: relative;
    left: 350px;
    top: 50px;
}
