body{
    padding: 20px;
}
.background{
    background-color: #eee;
    padding: 20px;
    border: solid #999 1px;
    overflow: scroll;
}
.left{
    background-color: white;
    width: 160px;
    padding: 20px;
    border: solid #999 1px;
    float: left;
}
.team_logo img{
    border: solid #999 1px;
}
.team_logo{
    float: left;
}
.team_name{
    width: 190px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.right{
    width: 120px;
    background-color: white;
    float: right;
    border: solid #999 1px;
    
}
.right img{
    margin: 20px;
    display: block;
    border: solid #999 1px;
}
.middle{
    background-color: white;
    padding: 20px;
    margin-left: 220px;
    margin-right: 140px;
    border: solid #999 1px;
}

