p{
    padding: 0;
    margin: 0;
    line-height: 108%;
}
.wrapper{
    width: 980px;
    height: 1386px;   
    margin: auto;
}
.div1{
    width: 892px;
    height: 61px;
    border-bottom: 2px solid #938e8c;
    margin: auto;
}
.head{
    display: inline-block;
    background-color: rgb(250, 100, 100);
    width: 110px;
    height: 61px;
    position:relative;
}
.head p{
    position: absolute;
    font-size: 12px;
    color: #ffffff;
    bottom: 0px;
    line-height: 0;
    padding-left: 5px;
    font-family: "SimHei";
    margin-bottom: 10px;
}
.head2{
    display: inline-block;
    width: 100px;
    height: 61px;
    position: relative;
    float: right;
    color: #d45d5c;
}
.head2 p{
    line-height: 0;
    font-size: 12px;
    text-align: right;
    right: 0;
    bottom: 0;
    position: absolute;
    font-family: SimHei;
    margin-bottom: 10px;
}
.div2{
    
}
.div2_left{
    width: 641px;
    height: 301px;
    background-color: blue;
    display: inline-block;
    margin: 44px;
    background-image: url(left.jpg);
    background-size: 641px 301px;
}
.green{
    width: 191px;
    height: 301px;
    background-color: green;
    display: inline-block;
    opacity: 0.5;
}
.red{
    width: 191px;
    height: 301px;
    background-color: red;
    display: inline-block;
    float: right;
    opacity: 0.5;
}
.div2_right{
    width: 203px;
    height: 299px;
    float: right;
    margin-top: 44px;
    margin-right: 44px;
    border-top: 2px solid #cc8091;
}
.top_1{
    font-size: 24px;
    text-decoration: underline;
    margin-top: 10px;
    color: #000000;
}
.top_2{
    font-size: 12px;
    margin-bottom: 10px;
    font-family: KaiTi; 
    color: #676767;
}
.middle_1{
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 116px;
    font-style: italic;
    color: #75b86b;
     
}
.bottom_1{
    font-size: 55px;
    display: inline-block;
    color: #cc8091;
}
.bottom_2{
    font-size: 21px;
    display: inline-block;
    color: #cc8091;
}
.bottom_3{
    font-size: 12px;
    color: #ccc;
}
.div3_left{
    margin-left: 44px;
    width: 250px;
    margin-right: 10px;
    display: inline-block;
    margin-top: 0;
}
.div3_left_head{
    font-size: 16px;
    color: #418c59;
    font-family: 黑体;
    text-decoration: underline;
    margin-bottom: 5px;
}
.div3_left_content{
    font-size: 12px;
    color: #767777;
    line-height: 150%;
    font-family: 宋体;
    word-wrap: 
}
.div3_middle{
    width: 200px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
.div3_middle_head{
    font-size: 16px;
    color: #d2994f;
    font-family: 黑体;
    text-decoration: underline;
    margin-bottom: 5px;
}
.div3_middle_content{
    font-size: 12px;
    color: #231815;
    line-height: 150%;
    font-family: 微软黑体;
}
.div3_right{
    width: 150px;
    display: inline-block;
    vertical-align: top;
}
.div3_right_head{
    font-size: 16px;
    color: #cc7680;
    text-decoration: underline;
    margin-bottom: 5px;
}
.div3_right_content{
    font-size: 12px;
    line-height: 180%;
}
.div3_right ul li{
    list-style: none;
    font-size: 12px;
    margin-left: -20px;
}
.div3_right ul li i{
    color: #cd4a48;
}
.div4{
    margin-top: 50px;
    margin-left: 44px;
    display: inline-block;
    width: 892px;
}
.div4_left{
    width: 415px;
    height: 620px;
    display: inline-block;
    
}
.div4_right{
    width: 458px;
    display: inline-block;
    float: right;
}
.div4_left_up{
    padding-bottom: 10px;
    padding-top: 15px; 
    border-bottom: 2px #11456b solid;
}
.div4_left_low span{
    font-size: 70px;
    float: left;
    color: #f5e327;
    vertical-align: top;
    width: 84px;
    height: 73px;
    line-height: 70px;
}
.article{
    margin-top: 20px;
    margin-left: 5px;
}
.div4_left_low p{
    font-size: 12px;
    line-height: 140%;
}
.article img{
    width: 250px;
    float: right;
}
.div4_right_up{
    width: 458px;
    height: 275px;
    background-image: url(item2.jpg);
    background-size: 458px 275px;
}
.div4_right_up_title{
    background-color: black;
    width: 458px;
    height: 61px;
    opacity: 0.7;
    position: relative;
    top: 214px;
}
.div4_right_up_content{
    margin-left: 40px;
    position: relative;
    top: 165px;
    padding: 10px;
    border-left: 3px #72b16a solid;
}
.div4_right_low{
    width: 458px;
    height: 318px;
    margin-top: 27px;
    background-color: #FAFAD2;
    display: inline-block;
}
.div4_right_low_background{
    background-color: rgb(250, 100, 100);
    width: 260px;
    height: 160px;
    line-height: 160px;
    margin-right: 10px;
    padding: 0;
    display: inline-block;
}
.div4_right_low_div1{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    height: 110px;
}
.div4_right_low_div2{
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    border-left: 2px solid #ffffff;
    padding-left: 10px;
    padding-left: 10px;
}
.mark_1{
    font-size: 21px;
    color: #ffffff;
    font-family: 黑体;
    font-style: italic;
    margin-bottom: 10px;
}
.mark_2{
    font-size: 12px;
    font-size: 黑体;
    color: #ffffff;
}
.div4_right_low_list{
    height: 125px;
    padding-top: 16px;
    padding-bottom: 17px;
}
.list{
    display: flex;
    padding-right: 20px;
    align-items: flex-end;
    margin-bottom: 25px;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #10456b;
    margin-right: 10px;
}
.dash{
    flex: 1;
    border-bottom: 1px dotted #000;
    vertical-align: text-bottom;
}
.mark_two{
    font-size:12px;
    color:#5a5b5b;
    font-family:黑体;
    font-style:italic;
}
.div4_right_low_content{
    width: 180px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px; 
}
.mark_three{
    font-size: 72px;
    color: #d45d5c;
    float: left;
    margin: -18px 20px 0 -50px;
    height: 30px;
    position: relative;
    top: 34px;
}
.mark_four{
    font-size: 72px;
    color: #d45d5c;
    float: right;
    margin: 27px 0 0 10px;
}
footer{
    width: 892px;
    border-top: 1px solid #938e8c;
    margin: auto;
    text-align: right;
    font-size: 12px;
    color: #d45d5c;
    margin-top: -40px;
}

    
