body {
  margin: 0;
  padding: 0;
}
.wrapper {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.wrapper .outer {
  padding: 10px;
  float: left;
  box-sizing: border-box;
}
.wrapper .outer .inner {
  height: 50px;
  border: 1px solid #999;
  background-color: #eee;
}
@media (min-width: 769px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 12.666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-6 {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .col-sm-2 {
    width: 16.666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-8 {
    width: 66.666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
#root {
  font-size: 14px;
}
#boot {
  font-size: 50px;
}
